<a href="https://colab.research.google.com/github/marinamaer123/new_test/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Additional_hw_4_Pandas_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Додаткове завдання з pandas
Вітаю! В цьому завданні будемо працювати з даними з опитування щодо зарплат ІТ спеціалістів на рексурсі DOU від грудня 2022 року. Впевнена, це буде цікаве дослідження, а заразом і практика pandas :)
Цей аналіз може бути корисним людині, яка обирає напрям роботи в ІТ і хоче зрозуміти тенденції. За якісного виконання цього аналізу, цей проєкт можна сміливо додавати у Ваше портфоліо!

1. Зчитайте дані з файлу `2022_dec_raw.csv`. Увага! Тут необхідно використати аргумент `pd.read_csv` `sep=';'`, бо розділювач в даних - крапка з комою.

In [50]:
import pandas as pd

In [51]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
df = pd.read_csv('/content/drive/MyDrive/2022_dec_raw.csv',sep =';')

2. Які колонки мають дані?

In [53]:
df.columns

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

3. Скільки рядків та колонок мають дані? Скільки пропущених значень має кожна з колонок?

In [54]:
df.shape

(13315, 28)

In [55]:
df.isnull().sum()

Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Де ви зараз живете?                                                               0
В якій області ви зараз живете?                                                1777
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
Ваша стать                                                                        0
Ваш вік                                                                           0
Яка у вас освіта?                                                                 0
Чи є у вас науковий ступінь?                                                    111
Знання англійської мови                                                           0
Оберіть вашу посаду                                                               0
Ваш тайтл                                                                         0
Ваша спеціалізація                                                            13156
Вкажіть вашу спеціалізацію                                                    10951
Оберіть вашу спеціалізацію                                                    12829
Ваша посада                                                                   13010
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Ваша посада4                                                                  12830
Ваша посада5                                                                  13027
Ваша посада6                                                                  12962
Ваша посада7                                                                  13199
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Основна мова програмування                                                     4255
Вкажіть вашу основну спеціалізацію                                             4256
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Загальний стаж роботи за спеціальністю                                            0
dtype: int64

4. Які колонки мають всі значення заповненими (не мають дожного None значення)? Виведіть програмно список цих колонок.

In [56]:
df.columns[df.notna().all()]

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'В якій сфері працюєте?',
       'Тип компанії', 'Загальний стаж роботи за спеціальністю'],
      dtype='object')

5. Який тип мають колонки в наборі даних? Які з колонок типу object логічно на ваш погляд перетворити на числові колонки?

In [57]:
df.dtypes

Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object

Зарплата,вік,стаж

6. Трансформуйте колонки 'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' у тип даних float. УВАГА! Перед трансформацією подивіться, які дані містять ці колонки. Аби успішно трансформувати тип даних, треба спочатку привести рядки до того виду, який буде підходити, аби потім рядок зробити типом float.

In [58]:
df = df.rename(columns = {'Зарплата у $$$ за місяць, лише ставка після сплати податків' : 'Зарплата у $'})

In [59]:
df['Зарплата у $' ] = df['Зарплата у $' ].str.replace(',','.', regex = False )

In [60]:
df['Зарплата у $' ] = df['Зарплата у $' ].astype(float)

In [61]:
df['Зарплата у $' ].dtype

dtype('float64')

In [62]:
df['Ваш вік'] = df['Ваш вік'].str.replace(',','.', regex = False )

In [63]:
df['Ваш вік'] = df['Ваш вік'].astype(float)

In [64]:
df['Ваш вік'].dtype

dtype('float64')

7. Це завдання з зірочкою! Нам треба транфсформувати колонку Timestamp у тип даних `datetime64[ns]`. Це не так просто як здається на першйий погляд :) Але це реальна ситуація, яка може трапитись при зборі даних в роботі аналітиком.
Я запропоную один зі способів виконати завдання, але ви можете написати по-своєму. Головне - отримати колонку - потрібного типу.
Пропоную наступний алгоритм дій:
    1. Подивитись, які дані містяться в цій колонці. Виведіть перші і останні 5 записів. Чи однаковий формат цих даних? (спойлер: ні, бо інакше все було б просто :))
    2. Нам треба враховуючи різний формат даних перетворити рядок у колонці `Timestamp` на тип `datetime64[ns]`. Як це зробити? Для перетворення рядка на `datetime64` пропоную скористатись `datetime.datetime.strptime`.
    Для цього треба імпортувати бібліотеку `datetime`. Я пропоную написати функцію для обробки кожного окремого рядка, яка враховує довжину рядка і на основі цього застосовує різний формат даних дати.
    Як прописувати формат даних можна переглянути [тут](https://www.w3schools.com/python/python_datetime.asp).
    3. Коли функція для обробки кожного окремого рядка готова, застосуйте її для всіх даних з допомогою методу `apply`.

In [65]:
df.Timestamp.head()

0    11.30.2022 10:26:37
1    11.30.2022 10:26:39
2    11.30.2022 10:26:58
3    11.30.2022 10:27:31
4    11.30.2022 10:27:34
Name: Timestamp, dtype: object

In [66]:
df.Timestamp.tail()

13310    01.09.2023 11:01
13311    01.09.2023 11:14
13312    01.09.2023 11:19
13313    01.09.2023 11:28
13314    01.09.2023 11:38
Name: Timestamp, dtype: object

In [67]:
from datetime import datetime

In [68]:
def trans_timestamp(x):
  try :
    return datetime.strptime(x, '%m.%d.%Y %H:%M:%S')
  except:
    try:
      return datetime.strptime(x, '%d.%m.%Y %H:%M')
    except:
      return None

In [69]:
df.Timestamp = df.Timestamp.apply(trans_timestamp)

In [70]:
df.Timestamp.tail(5)

13310   2023-09-01 11:01:00
13311   2023-09-01 11:14:00
13312   2023-09-01 11:19:00
13313   2023-09-01 11:28:00
13314   2023-09-01 11:38:00
Name: Timestamp, dtype: datetime64[ns]

8. Для колонок типу даних object (які такими лишились після всіх наших трансформацій) виведіть кількість унікальних значень.

In [71]:
df.select_dtypes('object').nunique()

Ви працюєте зараз в ІТ?                                                          5
Де ви зараз живете?                                                              2
В якій області ви зараз живете?                                                 23
Ваша стать                                                                       2
Яка у вас освіта?                                                                5
Чи є у вас науковий ступінь?                                                     3
Знання англійської мови                                                          5
Оберіть вашу посаду                                                             22
Ваш тайтл                                                                       10
Ваша спеціалізація                                                               8
Вкажіть вашу спеціалізацію                                                       4
Оберіть вашу спеціалізацію                                                      21
Ваша посада                                                                     15
Оберіть вашу посаду2                                                             7
Ваша посада3                                                                     7
Ваша посада4                                                                     5
Ваша посада5                                                                     6
Ваша посада6                                                                     2
Ваша посада7                                                                     4
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?       2
Основна мова програмування                                                      33
Вкажіть вашу основну спеціалізацію                                              12
В якій сфері працюєте?                                                        1768
Тип компанії                                                                     6
Загальний стаж роботи за спеціальністю                                          19
dtype: int64

9. Для колонок типу даних object виведіть топ 10 найбільш частих значень з кількістю рядків, в яких це значення зустрічається. Зробіть це для кожної колонки окремо. Наприклад, в циклі.  
Що цікавого бачите? Які висновки можна зробити? Що особисто Вас вразило?

In [72]:
object_cols = df.select_dtypes(include='object').columns

In [73]:
for col in object_cols:
  print(df[col].value_counts().head(10))

Ви працюєте зараз в ІТ?
Так, працюю full-time      12643
Ні, тимчасово не працюю      380
Так, працюю part-time        152
Так, я фрилансер             115
Інше                          25
Name: count, dtype: int64
Де ви зараз живете?
В Україні                                                      11587
За кордоном (переїхали через війну, але планую повернутися)     1728
Name: count, dtype: int64
В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Одеса чи область                443
Харків чи область               355
Полтава чи область              252
Черкаси чи область              232
Хмельницький чи область         230
Name: count, dtype: int64
Ваша стать
Чоловік    10221
Жінка       3094
Name: count, dtype: int64
Яка у вас освіта?
Вища (бакалавр, спеціаліст, магістр)    10645
Дві вищі                                 1002
Ще студент вишу                           811
Середня                                   447
Середня спеціальна                        410
Name: count, dtype: int64
Чи є у вас науковий ступінь?
Немає                  12980
Кандидат наук / PhD      216
Доктор наук                8
Name: count, dtype: int64
Знання англійської мови
Upper-Intermediate    5538
Intermediate          4475
Advanced              1622
Pre-Intermediate      1401
Elementary             279
Name: count, dtype: int64
Оберіть вашу посаду
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             6773
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2364
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager     821
HR/Recruiter                                                                       560
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                       486
Analyst (Business, Data, System)                                                   485
DevOps, SRE                                                                        353
Marketing, SEO, Copywriter                                                         305
Data Science, Machine Learning, Big Data                                           288
Game Developer / Programmer                                                        160
Name: count, dtype: int64
Ваш тайтл
Middle            4710
Senior            3400
Junior            2316
Team Lead          883
Немає тайтлу       571
Tech Lead          430
Manager            375
Head               250
Intern/Trainee     240
Architect          140
Name: count, dtype: int64
Ваша спеціалізація
Programmer                       89
Gameplay Programmer              42
Engine Programmer                 8
.NET Programmer                   6
Ul Programmer                     4
Rendering/Graphics Programmer     4
Al Programmer                     3
Інше                              3
Name: count, dtype: int64
Вкажіть вашу спеціалізацію
Manual QA         1467
Automation QA      531
General QA         354
Performance QA      12
Name: count, dtype: int64
Оберіть вашу спеціалізацію
UI/UX Designer              201
Product Designer             60
3D Artist                    40
2D Artist                    35
Graphic / Video Designer     33
Game Designer                20
Designer                     15
Animator                     14
Other                        12
Web Designer                 11
Name: count, dtype: int64
Ваша посада
Other                            44
Marketing Manager                44
SEO Specialist                   34
Digital Marketing Manager        33
Copywriter                       27
Chief Marketing Officer (CMO)    22
Employer Brand Manager           20
SMM Manager                      20
PR Manager                       16
Product Marketing Manager        11
Name: count, dtype: int64
Оберіть вашу посаду2
Recruiter                             201
HR Manager                            131
Talent Acquisition Manager             52
Talent Researcher/Sourcer              51
HR Director                            45
HR Business Partner                    40
People partner / Happiness manager     40
Name: count, dtype: int64
Ваша посада3
Project Manager     443
Product Manager     135
Delivery Manager     88
Product Owner        67
Scrum Master         42
Program Manager      29
Business Manager     17
Name: count, dtype: int64
Ваша посада4
Business Analyst    289
Data Analyst        106
Product Analyst      34
System Analyst       32
BI Analyst           24
Name: count, dtype: int64
Ваша посада5
Data Engineer / Big Data Engineer    104
Data Scientist                        93
Machine Learning Engineer             46
Computer Vision Engineer              21
Research Engineer                     15
BI Engineer                            9
Name: count, dtype: int64
Ваша посада6
DevOps Engineer              325
Site Reliability Engineer     28
Name: count, dtype: int64
Ваша посада7
CTO                        41
Director of Engineering    33
CEO, (co-) founder         28
Program Director           14
Name: count, dtype: int64
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    2754
Так, використовую      2120
Name: count, dtype: int64
Основна мова програмування
JavaScript    1695
Java          1241
Python        1190
C# / .NET     1179
TypeScript    1179
PHP            627
Kotlin         286
C++            251
Swift          221
SQL            201
Name: count, dtype: int64
Вкажіть вашу основну спеціалізацію
Back-end  розробка               2847
Full Stack розробка              1628
Front-end  розробка              1628
QA                               1079
Mobile  розробка                  665
Робота з даними, аналіз даних     558
DevOps                            308
Інше                              293
Embedded                           49
embedded                            2
Name: count, dtype: int64
В якій сфері працюєте?
Інша                    1445
E-commerce              1243
Fintech / Banking        942
Medtech / Healthcare     547
GameDev                  449
Gambling                 352
Edtech / Education       250
Telecom                  232
Mobile                   200
Adtech / Advertising     193
Name: count, dtype: int64
Тип компанії
Аутсорсингова    5593
Продуктова       4940
Аутстафінгова    1767
Стартап           539
Інша              355
Фріланс           121
Name: count, dtype: int64
Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
Name: count, dtype: int64

10. Виведіть медіанну (медіана - це значення, менше якого є рівно 50% вибірки і більше якого є теж рівно 50% вибірки)
ЗП (Зарплата у $$$) для кожного рівня знання англійської. Які висновки можна зробити?

In [74]:
df.groupby('Знання англійської мови')['Зарплата у $' ].median()

Знання англійської мови
Advanced              3500.0
Elementary            1155.0
Intermediate          2125.0
Pre-Intermediate      1404.0
Upper-Intermediate    3300.0
Name: Зарплата у $, dtype: float64

11. Є така штука як сортування значень категоріальної змінної. Нам це зараз стане в нагоді, адже рівні англійської можна посортувати.
Давайте відсотруємо рівні англ. і тайтли. Просто запустіть код нижче і проаналізуйте, що він робить.

In [76]:
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'],
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'],
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

Цей код сортує значення по категоріям замість алфавітного порядку , що надалі допоможе для правильного групування та сортування.

:12. Зробіть зводну таблицю, де стовпці - це 'Ваш тайтл', рядки - 'Знання англійської мови', а значення - медіанна ЗП. Які висновки можна зробити?
Тут ще для зручності можна зробити градієнтне забарвлення і відформатувати значення для легшого перегляду.

In [84]:
pd.pivot_table(
    df,
    index = 'Знання англійської мови',
    columns = 'Ваш тайтл',
    values = 'Зарплата у $',
    aggfunc='median',
    observed= True )

Ваш тайтл,Intern/Trainee,Junior,Немає тайтлу,Middle,Senior,Tech Lead,Team Lead,Architect,Head,Manager
Знання англійської мови,,,,,,,,,,
Elementary,500.0,600.0,550.0,1500.0,2500.0,5000.0,2100.0,NaN,1500.0,1120.0
Pre-Intermediate,400.0,800.0,934.0,1825.0,3500.0,4000.0,2850.0,2900.0,2400.0,1225.0
Intermediate,400.0,900.0,1300.0,2200.0,4100.0,5000.0,3800.0,5450.0,3500.0,2100.0
Upper-Intermediate,485.0,1000.0,1600.0,2500.0,4750.0,5650.0,4655.0,6400.0,4000.0,3600.0
Advanced,500.0,1000.0,2075.0,2500.0,4750.0,6000.0,5000.0,7000.0,5000.0,4000.0

13. Виведіть результат методу describe() по колонцы розміру ЗП для топ 5 за частотою зустрічання в даних областей (В якій області ви зараз живете?). Зробіть висновки, де вигідніше жити з точки зору ЗП і чи суттєва різниця на Ваш погляд для прийняття рішення про переїзд?

In [85]:
df.columns

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?', 'Зарплата у $', 'Ваша стать',
       'Ваш вік', 'Яка у вас освіта?', 'Чи є у вас науковий ступінь? ',
       'Знання англійської мови', 'Оберіть вашу посаду', 'Ваш тайтл',
       'Ваша спеціалізація', 'Вкажіть вашу спеціалізацію',
       'Оберіть вашу спеціалізацію', 'Ваша посада', 'Оберіть вашу посаду2',
       'Ваша посада3', 'Ваша посада4', 'Ваша посада5', 'Ваша посада6',
       'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

In [87]:
top_5_regions = (df['В якій області ви зараз живете?'].value_counts().head(5).index)

In [90]:
top_5_regions

Index(['Київ чи область', 'Львів чи область', 'Дніпро чи область',
       'Івано-Франківськ чи область', 'Вінниця чи область'],
      dtype='object', name='В якій області ви зараз живете?')

In [89]:
df_top_regions = df[df['В якій області ви зараз живете?'].isin(top_5_regions)]

In [94]:
df_top_regions.groupby('В якій області ви зараз живете?')['Зарплата у $'].describe()

,count,mean,std,min,25%,50%,75%,max
В якій області ви зараз живете?,,,,,,,,
Івано-Франківськ чи область,478.0,2705.257322,1905.673385,200.0,1200.0,2372.5,3775.0,12436.0
Вінниця чи область,447.0,2888.306085,1902.668331,100.0,1300.0,2612.0,4100.0,11675.0
Дніпро чи область,751.0,2582.584554,1864.711284,100.0,1025.0,2000.0,3600.0,12000.0
Київ чи область,4411.0,3141.810209,2039.859712,80.0,1500.0,2800.0,4500.0,16000.0
Львів чи область,2353.0,3121.441751,2102.721295,150.0,1375.0,2700.0,4500.0,14000.0

На мій погляд різниця не суттєва і сенсу в переїзді є тільки з Дніпра ,тому що різниця в витратах на життя може бути меньшою ніж різниця у зерплатні.У інших же містах різниця в витратах на життя може бути більшою ,через це сенсу в переїзді немає з точки зору зарплати.

14. Як зростає зарплата з роками? Для цього нам треба відформатувати колонку "Загальний стаж роботи за спеціальністю" аналогічно до того, як ми це робили для колонки 'Знання англійської мови' і потім вивести медіанні значення для кількості років стажу.

In [99]:
df['Загальний стаж роботи за спеціальністю'].value_counts()

Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
8 років               529
Пів року              457
Менше як 3 місяці     434
9 років               336
11 років              233
12 років              206
3 місяці              158
13 років               97
14 років               96
Name: count, dtype: int64

In [100]:
df['Загальний стаж роботи за спеціальністю'] = pd.Categorical(df['Загальний стаж роботи за спеціальністю'],
                      categories=['Менше як 3 місяці',
                                  'Пів року',
                                  '1 рік',
                                  '2 роки',
                                  '3 роки',
                                  '4 роки',
                                  '5 років',
                                  '6 років',
                                  '7 років',
                                  '8 років',
                                  '9 років',
                                  '10 років',
                                  '11 років',
                                  '12 років',
                                  '13 років',
                                  '14 років',
                                  '15 і більше років'],
                      ordered=True)

Далі тут можна зробити багато аналогічних агрегацій, проаналізувати, в який час люди заповнювали форму, хто більше отримує, Business Analyst, чи Data Analyst. Я вас заохочувати не стримувати свій інтерес і покапати ці дані далі :)

In [101]:
df.groupby('Оберіть вашу посаду')['Зарплата у $'].mean()

Оберіть вашу посаду
Analyst (Business, Data, System)                                                  2305.026804
Customer Success                                                                  1495.000000
DBA                                                                               4112.962963
Data Science, Machine Learning, Big Data                                          3354.336806
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                      2104.143086
DevOps, SRE                                                                       3930.084108
ERP/CRM                                                                           2394.729730
Game Developer / Programmer                                                       2246.531250
HR/Recruiter                                                                      1577.493739
HTML Coder                                                                        1038.803571
Hardware Engineer                                                                 1838.888889
Legal                                                                             1662.500000
Marketing, SEO, Copywriter                                                        1653.618951
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager    2983.941535
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2273.939679
Sales Manager                                                                     1431.337079
Security Specialist                                                               2792.209302
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             3588.452592
Support                                                                           1365.261139
SysAdmin                                                                          1312.556818
Technical writer                                                                  2027.694444
СTO, Director of Engineering, Program Director, CEO, (co-)founder                 6237.000000
Name: Зарплата у $, dtype: float64

In [116]:
df.groupby(['Оберіть вашу посаду', 'Ваш тайтл'])['Зарплата у $'].mean().head(5)

/tmp/ipython-input-650409895.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['Оберіть вашу посаду', 'Ваш тайтл'])['Зарплата у $'].mean().head(5)

Оберіть вашу посаду               Ваш тайтл
Analyst (Business, Data, System)  Intern/Trainee     646.428571
                                  Junior            1046.247525
                                  Немає тайтлу      1900.387097
                                  Middle            2202.768362
                                  Senior            3531.306122
Name: Зарплата у $, dtype: float64

In [123]:
pivot_table = pd.pivot_table(df, index='Ваш тайтл',columns='Загальний стаж роботи за спеціальністю',values='Зарплата у $',aggfunc='mean',observed = True)

In [124]:
pivot_table

Загальний стаж роботи за спеціальністю,Менше як 3 місяці,Пів року,1 рік,2 роки,3 роки,4 роки,5 років,6 років,7 років,8 років,9 років,10 років,11 років,12 років,13 років,14 років,15 і більше років
Ваш тайтл,,,,,,,,,,,,,,,,,
Intern/Trainee,476.300000,481.659574,647.172414,675.000000,500.000000,1383.333333,500.000000,NaN,400.000000,350.000000,500.000000,332.500000,NaN,700.000000,300.000000,NaN,900.000000
Junior,663.021277,764.699088,922.013575,1190.943686,1204.053191,1145.564103,994.068966,1056.333333,692.222222,955.416667,1200.000000,864.071429,940.000000,950.000000,1000.000000,NaN,831.875000
Немає тайтлу,956.060690,1019.800000,1567.790698,2025.981282,2033.760274,2296.846154,2474.677419,2008.823529,2656.950000,2115.384615,2839.363636,3578.647059,3283.333333,3645.000000,2850.000000,NaN,3214.628571
Middle,2364.370787,1558.947368,1714.000000,2007.772043,2442.041311,2722.386598,2825.947826,2973.205560,2953.251534,3077.114286,3229.934783,2604.702381,3095.967742,2900.571429,2759.090909,3790.625000,2623.315789
Senior,4074.134615,5200.000000,3510.833333,4276.477273,3733.932292,3957.330025,4471.790698,4661.177778,4735.125348,4878.854093,4982.786096,5018.215876,5215.038462,4827.530120,4457.897959,4922.023810,4738.642857
Tech Lead,5385.000000,7366.666667,4000.000000,4398.000000,3734.615385,4383.333333,4754.937500,5311.000000,5838.224138,6139.418605,5822.380952,5944.454545,6249.318182,5920.526316,6116.666667,5572.000000,5824.754098
Team Lead,4570.117647,3580.000000,3013.333333,2490.833333,3292.746032,3714.107143,4012.477876,4252.469388,4911.743363,4756.258065,4488.285714,4625.878378,5485.969697,4851.428571,4324.000000,5164.545455,4621.971831
Architect,1400.000000,NaN,6566.666667,5125.000000,6570.000000,5950.000000,7150.000000,6631.666667,7791.666667,8578.571429,7625.000000,6576.923077,6103.750000,7000.000000,6818.750000,7633.750000,6128.437500
Head,4250.000000,5430.333333,2069.000000,3356.571429,3823.052632,3926.500000,3323.218750,3704.347826,3999.833333,5386.666667,3823.571429,5113.043478,5123.250000,8687.200000,4533.333333,5770.000000,6028.269231
Manager,1792.071429,4056.000000,1798.571429,2566.391200,2532.321429,2906.756757,3448.609756,3491.363636,4002.187500,4642.291667,5120.526316,4407.483871,6175.000000,5364.545455,5400.000000,6100.000000,5090.392857